
<div>
  <div class="title">
    <h1>List of books</h1>
  </div>

  <div class="book">
    <div class="book_name">
      <h3>Taras Bulba</h3>
    </div>
    <div class="book_body">
      <img src="./assets/img/9780979919497.jpg" alt="Taras Bulba">
      <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque autem
                dignissimos doloremque dolorum eaque expedita facilis fugiat hic impedit ipsam, ipsum
                labore laboriosam maxime neque quaerat quam quasi qui ratione repellendus sequi
                tempora vel. At beatae, cupiditate dolorem eius fugiat harum maxime nemo, optio, qui rem sint vitae!
            </span>
    </div>
  </div>

  <div class="book">
    <div class="book_name">
      <h3>The Viy</h3>
    </div>
    <div class="book_body">
      <img src="./assets/img/41qIXjCLdqL._SX331_BO1,204,203,200_.jpg" alt="The Viy">
      <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque autem
                dignissimos doloremque dolorum eaque expedita facilis fugiat hic impedit ipsam, ipsum
                labore laboriosam maxime neque quaerat quam quasi qui ratione repellendus sequi
                tempora vel. At beatae, cupiditate dolorem eius fugiat harum maxime nemo, optio, qui rem sint vitae!
            </span>
    </div>
  </div>
</div>

<div class="footer">
    <span>
        Lorem ipsum dolor sit amet.
    </span>
</div>
