<ul class="card-3-normal-copy-3">
  <li class="book-item">
    <aside>
      <img class="rectangle-copy-2" src="/assets/Rectangle%20Copy%202.png">
    </aside>
    <section>
      <h1 class="book-title">Garry Potter</h1>
      <p class="by-author-name">dasdasdasdasd</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur expedita
        hic magni minus nam quibusdam unde velit vero voluptate.</p>
    </section>
  </li>

  <li class="book-item">
    <aside>
      <img class="rectangle-copy-2" src="/assets/Rectangle%20Copy%202.png">
    </aside>
    <section>
      <h1 class="book-title">Garry Potter</h1>
      <p class="by-author-name">dasdasdasdasd</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur expedita
        hic magni minus nam quibusdam unde velit vero voluptate.</p>
    </section>
  </li>


</ul>
